@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --white: #f0f1f2;
  --grey: #989ea2;
  --bg-dark: #1e2126;
  --bg-medium: #262a30;
  --bg-lighter: #363c44;
  --accent: #ffd919;
  --accent2: #e63ac8;
  --accent3: #50b6ff;
  --accent4: #0095ff;

  --extra-small-size-fluid: clamp(0.5rem, 1vw, 0.75rem);
  --small-size-fluid: clamp(1rem, 2vw, 1.5rem);
  --medium-size-fluid: clamp(2rem, 4vw, 3rem);
  --large-size-fluid: clamp(2.5rem, 6vw, 4.5rem);

  --border-radius: 8px;

  --box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* Main Components */

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0.75rem;

  background-color: var(--bg-body);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;

  background-color: var(--bg-lighter);

  border: 1px solid var(--bg-lighter);
}

body {
  font-family: 'Poppins';
  color: var(--white);

  background-color: var(--bg-dark);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--grey);

  padding: 0 1rem 0 0;
  margin: 0;

  width: 100%;

  cursor: inherit;
}

select::-ms-expand {
  display: none;
}

.select {
  width: 100%;

  padding: 0.5rem;

  cursor: pointer;

  background-color: var(--bg-medium);

  display: grid;
  grid-template-areas: 'select';
  align-items: center;
}

.select::after {
  content: '';

  width: 0.8rem;
  height: 0.5rem;

  background-color: var(--grey);

  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);

  clip-path: polygon(100% 0%, 0 0%, 50% 100%);

  justify-self: end;
}

select,
.select::after {
  grid-area: select;
}

select:focus-within {
  outline: 2px solid var(--bg-lighter);
  outline-offset: 0.5rem;
}

/* Disable all animations for people that prefer without it */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
